.app-container {
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(
      to bottom right,
      #9796f0 ,
      #fbc7d4 
    );
    min-height: 100vh;
    font-family:"Roboto"
  }
  
  .emoji-game-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
    height:100%;
    
  }
  
  .emojis-list-container {
    display: flex;
   justify-content:center;
   align-items:center;
    flex-wrap: wrap;
    width: 60%;
    padding: 0px;
    max-width: 1000px;
  }
  